
<div class="container"> 

  <div class="jumbotron jumbotron-fluid bg-warning text-white">
      <div class="container">
        <h1 class="display-4 text-center font-weight-bold">Eat that Burger</h1>
          <div class="row"> 
            <div class="container">
              <div class="row"> 
                <div class="col-md-2">
                </div>           
                  <div class="col-md-8">
                    <img  src="assets/img/Boss_Burger.jpg">
                  </div> 
                <div class="col-md-2">
                </div>               
              </div> 
            </div>
          </div>
      </div>
  </div>


  <div class="container-fluid bg-light">

      <div class="row justify-content-md-center">
        <div class="col-md-6 justify-content-center">

              <h2 class="text-danger">Burger Choices!</h2>

              <ul>
                {{#each burgers}}
                  {{#unless this.devoured}}
                    <li>
                        <p class="text-danger">
                            {{this.burger_name}}

                            <input type="hidden" name="devoured" value="true">		          			             
                            <button class="change-eat btn btn-outline-secondary"  data-id="{{id}}" data-neweat="{{devoured}}" action="/burgers/" method="PUT">
                              {{#if devoured}}YUM!{{else}}EAT ME!{{/if}}
                            </button>
                        
                        </p>
                    </li>

                  {{/unless}}
                {{/each}}
              </ul>
        </div>


        <div class="col-md-6 justify-content-center">
            <h2 class="text-danger">Devoured Burgers!</h2>

            <ul>
              {{#each burgers}}
                {{#if devoured}}
                  <li>
                      <p class="text-danger">
                          {{this.burger_name}}
                      </p>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
        </div>

      </div>

  </div>

  <br>


      <div class="row">
        <div class="col-md-2">
        </div>
          <div class="col-md-8  bg-danger">
              <h2 class="text-white justify-content-center text-center">Add a Burger!</h2>

              <br>

              <div class="row">
                <div class="col-md-2">
                </div>  

                   <div class="col-md-8">
                      <form class="create-update-form justify-content-center" action="/burgers" method="POST">

                        <div class="form-group justify-content-center">
                          <label for="ca" class="text-white text-center">Burger Name:</label>
                          <textarea type="text" id="ca" name="burger_name"></textarea>
                          <button type="submit" id="add" class="btn-secondary">Order that Burger</button>
                        </div>
                    
                      </form>
                    </div>

                <div class="col-md-2">
                </div> 
              </div>
            </div>
        <div class="col-md-2">        
        </div>
      </div>
    
    <br>

</div>


<script type="text/javascript">

$(".change-eat").on("click", function(event) {
      var id = $(this).data("id");
       
      var newEatState = {
        devoured: true
      };
  
      // Send the PUT request.
      $.ajax("/burgers/" + id, {
        type: "PUT",
        data: newEatState
      }).then(
        function() {
          console.log("changed devoured to ", newEatState);
          // Reload the page to get the updated list
          location.reload();
        }
      );
  });
  
$("#add").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      var newBurger = {
        burger_name: $("#ca name=burger_name").val().trim()
      };
  
      // Send the POST request.
      $.ajax("/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function() {
          console.log("added " + newBurger + " burger." );
          // Reload the page to get the updated list
          location.reload();
        }
      );
  });

</script>